*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
img {
    max-width: 100%;
    height: auto;
}

.header {
    background: #213B7E; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(50% - 1268px/2);
    padding-right: calc(50% - 1268px/2);
}
.menu_link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding: 28px 18px;
    display: block;
    transition: all .3s;
}
.menu_link:hover {
    background-color: white;
    color: #000000;
}
.menu_link_active {
    background: #FFFFFF;
    color: #213B7E;
    text-decoration: none;
}
.menu {
    display: flex;
    list-style-type: none;
    margin-left: 54px;
}
.button {
    display: flex;
    width: 153px;
    height: 50px;
    background: #EA5D21;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 25px;
    margin-top: 113px;
}
.content {
    padding-left: calc(50% - 911px/2);
    padding-right: calc(50% - 911px/2);
}
.content_section {
    width: 634px;

}
.content_info {
    display: flex;
    justify-content: space-between;
}
.heading {
    color: #646464;
    font-family: 'Lobster' cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    position: relative;
    width: 129px;


}
.subtitle {
    margin-top: 15px;
    margin-bottom: 10px;
}
.about_text {
    margin-bottom: 15px;
    margin-top: 10px;

}
.footer {
    background: #213B7E;
    padding-left: calc(50% - 1268px/2);
    padding-right: calc(50% - 1268px/2);
    padding-top: 18px;
    padding-bottom: 19px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-top: 32px;

}

.colortext {
    color: #CF5510;
    font-style: italic;
}
.quotation-marks {
    font-size: 64px;
}
.quotation-marks-left {
    position: absolute;
    left: -33px;  
    top: -9px;
  

}
.quotation-marks-right {
    position: absolute;
    top: 50px;
    right: -22px;

}
.footer_text {
    color: rgba(255, 255, 255, 0.5);
}
.all {
    flex-grow: 1;
    position: relative;
    
}
/* Students */

.subtitle-students {
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    color: #000000;

}
.content-students {
    padding-left: calc(50% - 1202px/2);
    padding-right: calc(50% - 1202px/2);
    margin-top: 37px;
}
  
.student_name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
    margin-top: 8px;

}
.student {
    width: 200px;
    position: relative;

}
.student_new {
    position: absolute;
    top: -12px;
    right: -13px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #3AA828;
    border-radius: 20px;
    padding: 1px 2px 1px 5px;
    text-transform: uppercase;

}
.students {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.about-me {
    text-decoration: none;
}
.my-info {
font-style: normal;
font-size: 20px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
padding-left: calc(50% - 1000px/2);
padding-right: calc(50% - 1000px/2);
padding-top: 32px;
gap: 16px;
max-width: 90%;
}
.photo {
    width: 330px;
    height: 450px;
}
.video-info {
    margin-top: 113px;
    margin-bottom: 313;

}
.heading-about {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;

}
.text-video {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    padding-top: 25px;
    padding-bottom: 15px;
}
.heading-map {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    padding-top: 33px;
    padding-left: 288px;
    
    
    
    
}
.map {
    padding-left: calc(50% - 1268px/2);
    padding-right: calc(50% - 1268px/2);
    padding-top: 25px;
}
.contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    padding-top: 15px;
    padding-left: 288px;
}
.contacts-info {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-top: 10px;
    padding-left: 288px;
}


}
@media (max-width: 1024px) {
        /*стили для планшета*/
      .header {
        padding-left: 32px;
        padding-right: 32px;
      }  
      .menu {
        margin-left: 0;
      }
      .menu_link {
        font-size: 18px;
        padding: 20px 14px;
      }
      .content {
        padding-left: calc(50% - 736px/2);
        padding-right: calc(50% - 736px/2);
    }
    .content_section {
        width: 70%;
    }

    .content_info {
        align-items: center;
    }

    .content-students {
        padding-left: calc(50% - 736px/2);
        padding-right: calc(50% - 736px/2);  
    }
.video-info {
        padding-left: calc(50% - 736px/2);
        padding-right: calc(50% - 736px/2);
}
.heading-map {
    padding-left: 32px;
    margin-left: 0;
}
.contacts {
    padding-left: 32px;
}
.contacts-info {
    padding-left: 32px;
}
}
    @media (max-width: 767px) and (min-width: 350px){
        /*стили для мобилы*/
        .header {
            padding-left: 0;
            padding-right: 16px;
        }
        .logo {
            display: none;
        }
        .menu {
            flex-direction: column;
            padding-top: 16px;
            padding-bottom: 16px;
        }
        .content {
            padding-left: 16px;
            padding-right: 16px;
            
        }
        .content_info {
            flex-wrap: wrap;
            justify-content: center;
            gap: 32px;
            text-align: center;
           
        }
        .content_section {
            width: 90%;
        }
        .content-students {
            padding-left: 16px;
            padding-right: 16px;
        }
        .students {
            justify-content: center;
        }
        .subtitle-students {
            text-align: center;
        }

        .contacts {
            padding-left: 16px;
            text-align: center;
        }
        .contacts-info {
            padding-left: 16px;
            text-align: center;
        }
        .heading-map {
            padding-left: 16px;
            text-align: center;
        }
        .heading-about {
            padding-left: 16px;
            text-align: center;
        }
        .text-video {
            padding-left: 16px;
            text-align: center;
        }
    }

    .popup {
        width: 500px;
        height: 418px;
        background-color: #FFFFFF;
        border: 1px solid #213B7E;
        position: absolute;
        top: 160px;
        margin-left: 205px;
        margin-right: auto;
        
    }
    .visible {
        display: none;
    }
    .popup_text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    padding-top: 26px;
    }
   
    .login {
    width: 444px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #808080;
    color: #808080;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    box-sizing: border-box;

    
    
}


.password {
    width: 444px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #808080;
    color: #808080;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 56px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    box-sizing: border-box;

}
.button_popup {
    
    display: flex;
    width: 153px;
    height: 50px;
    background: #EA5D21;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
    margin-top: 56px;
    margin-left: 174px;
    cursor: pointer;
   
}
